@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    background-color: #1F2937;
}

/*header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

header,
.hookBlock {
    background-color: #1F2937;
    padding: 0 120px;
    color: white;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: white;
    margin: 0 8px;
}

/*HookBlock*/
.hookBlock {
    display: flex;
    gap: 25px;
    flex: 1;
    padding-bottom: 40px;
}

.hookLeft {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin-bottom: 0%;
}

.description {
    color: #E5E7EB;
    font-size: 18px;
}

.cta1 {
    padding: 10px 14px;
    background: #3882f6;
    border: none;
    color: #F9FAF8;
    border-radius: 8px;
    max-width: 40%;
    font-weight: bold;
    font-size: 20px;
}

.imagenPrincipal {
    flex-shrink: 0;
    max-width: 50%;
    margin-top: 32px;
    height: auto;
}

/*infoBlock*/

.infoBlock {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    margin-bottom: 0%;
}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    padding-top: 24px;
}

.totalInfoSections {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin: 10px 120px;
    flex-wrap: wrap;
}

.infoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoImg {
    width: 120px;
    height: 120px;
    border: 5px solid #73F6D4;
    border-radius: 12px;
    padding: 10px;
}

.infoText {
    width: 150px;
    font-size: 18px;
    color: #8B8C93;
}

/*QuoteBlock*/

.quoteBlock {
    background-color: #E5E7EB;
    margin-top: 0%;
    height: 300px;
    padding: 100px 250px;
}

.quoteInfo {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    margin-top: 0;
}

.quoteInfo--author {
    text-align: right;
    font-weight: bold;
    display: flex;
    justify-content: right;
    font-size: 24px;
}

/*ctaBlock*/

.ctaBlock {
    background-color: white;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 60px;
}

.ctaBlock-inside {
    display: flex;
    background-color: #3882f6;
    padding: 30px;
    gap: 100px;
    border-radius: 12px;
    align-items: center;
}

.ctaBlock-text {
    display: flex;
    flex-direction: column;
}

.cta2Title {
    margin: 0%;
    color: #F9FAF8;
}

.cta2SubText {
    color: #E5E7EB;
}

.cta2 {
    background-color: #3882f6;
    border: 3px solid #F9FAF8;
    color: #F9FAF8;
    border-radius: 7px;
    height: 60px;
    width: 180px;
    font-size: medium;
    font-weight: bold;
}

/*footer*/

footer {
    display: flex;
    justify-content: center;
    gap: 6px;
    color: white;
    padding: 16px;
    font-size: 18px;
}